html {
  font-size: 62.5%;
}

body {
  font-family: outfit, sans-serif;
  background: lavender;
  height: 100vh;
  width: 100vw;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* align-content: center; */
  /* justify-items: center; */
}

.container {
  width: 310px;
  height: 470px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  background: white;
  border-radius: 20px;
  /* padding-top: 15px; */
  padding-bottom: 15px;
}

img {
  width: 290px;
  height: 290px;
  border-radius: 10px;
  object-fit: cover;
}

.card-content {
  /* background: greenyellow; */
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 270px;
  margin: 10px;
  /* align-items: stretch; */
}

p {
  font-size: 15px;
  /* text-align: center; */
  color: hsl(220, 15%, 55%);
  margin: 5px;
}

h1 {
  font-size: 2.2rem;
  white-space: nowrap;
  /* text-align: center; */
}
